<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />
    <style>
      .main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="#" id="logo">CRUD APP</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/form">Add User</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <button id="btn">Contact</button>
    </header>

    <main class="main">
      <h1>THIS IS THE ABOUT PAGE!!!</h1>
    </main>
  </body>
</html>
